@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #0b1e39;
  --color-brand-foreground: #ffffff;
  --color-brand-muted: #b9c7d9;
  --color-accent: #39ff14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-brand);
  color: var(--color-brand-foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}
